<p>products works!</p>



<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item">Samsung A17</li>
                <li class="list-group-item">Dell </li>
                <li class="list-group-item">Hp pivilion</li>
                <li class="list-group-item">Samsung A15</li>
            </ul>
            <button
                    (click)="gotoHome()"
                    class="btn btn-primary mt-3">Go to Home</button>
        </div>
    </div>
</div>
