<p>users works!</p>

<div class="conatainer">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item">John Doe</li>
                <li class="list-group-item">priyanka Choudari</li>
                <li class="list-group-item">Abhishek Kumar</li>
                <li class="list-group-item">Nitish Kumar</li>
              
            </ul>
            <button
(click)="gotoProducts()"
class="btn btn-primary mt-3">Go to products</button>
        </div>
    </div>
</div>
<!-- <button
(click)="gotoProducts()"
class="btn btn-primary">Go to products</button> -->